.bill-index-item {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  //   padding-left: 100px;
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
}
.main-bill-index {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: column;
}

.bill-index-item-header {
  background: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: calc(100% + 10px);
  margin-left: -15px;
  padding: 10px;
}

.bill-index-item-button {
  display: flex;
  justify-content: space-between;
}

.bill-info-lineone {
  display: flex;
  justify-content: space-between;
}

.bill-index-item-header-right {
  display: flex;
  justify-content: space-between;
}

.bill-index-item-button button {
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 18px;
  font-family: "Lato";
  color: #ffffff;
  font-size: 17px;
  background: #d93455;
  padding: 6px 10px 6px 10px;
  text-decoration: none;
  cursor: pointer;
}

.bill-index-item-button button:hover {
  background: #b12944;
}
