.bill-index-item {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  //   padding-left: 100px;
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
}
.main-bill-index {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: column;
}

.bill-index-item-header {
  background: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: calc(100% + 10px);
  margin-left: -15px;
  padding: 10px;
}

.bill-index-item-button {
  display: flex;
  justify-content: space-between;
}

.bill-info-lineone {
  display: flex;
  justify-content: space-between;
}

.bill-index-item-header-right {
  display: flex;
  justify-content: space-between;
}

// .bill-index-item-button button {
//   border-radius: 4px;
//   font-family: "Lato";
//   color: white;
//   background-color: #5bc5a7;
//   padding: 4px 10px 4px;
//   text-shadow: 0 -1px 0 #318970;
//   border: 1px solid #cccccc;
//   border-color: rgba(0, 0, 0, 0.1);
//   border-bottom-color: rgba(0, 0, 0, 0.25);
//   box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
//     0 1px 2px rgba(0, 0, 0, 0.05);
//   border-radius: 4px;
//   text-decoration: none;
//   cursor: pointer;
// }

// .bill-index-item-button button:hover {
//   background: #b12944;
// }

.delete-bill {
  border-radius: 4px;
  font-family: "Lato";
  color: white;
  background-color: #5bc5a7;
  padding: 4px 10px 4px;
  text-shadow: 0 -1px 0 #5bc5a7;
  border: 1px solid #cccccc;
  border-color: rgba(0, 0, 0, 0.1);
  border-bottom-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}
.delete-bill:hover {
  background-color: #ff652f;
  text-shadow: #ff652f;
}

.x-bill {
  // border-radius: 4px;
  font-family: "Lato";
  color: red;
  font-size: 15px;
  // background-color: #5bc5a7;
  // padding: 4px 10px 4px;
  // text-shadow: 0 -1px 0 #5bc5a7;
  // border: 1px solid #cccccc;
  // border-color: rgba(0, 0, 0, 0.1);
  // border-bottom-color: rgba(0, 0, 0, 0.25);
  // box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
  // 0 1px 2px rgba(0, 0, 0, 0.05);
  // border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  margin-left: 10px;
  padding: 0;
  border: none;
  background: none;
}
.x-bill:hover {
  font-size: 18px;
  font-weight: bold;
}

.edit-bill {
  border-radius: 4px;
  font-family: "Lato";
  color: white;
  background-color: #ff652f;
  padding: 4px 10px 4px;
  text-shadow: 0 -1px 0 #ff652f;
  border: 1px solid #cccccc;
  border-color: rgba(0, 0, 0, 0.1);
  border-bottom-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

.edit-bill:hover {
  background-color: #c83400;
  text-shadow: #c83400;
}

.payer-name {
  font-weight: bold;
}

.comments {
  font-weight: bold;
  font-size: 20px;
}

.comment {
  display: flex;
  flex-direction: row;

  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin-bottom: 10px;

  justify-content: flex-start;
  font-size: 13px;
  align-items: baseline;
}

.comment p {
  margin-left: 4px;
}
