.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #eee;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 350px;
  border-radius: 5px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  border: 1px solid #bbb;
  position: relative;
  overflow: auto;
  padding: 20px 20px 20px 20px;
  max-height: 400px;
  overflow-y: visible;
}

/* #invite-friend-modal {
  padding: 20px 25px;
  height: 236px;
  width: 510px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  background-color: white;
  border: 1px solid #333;
  border-radius: 6px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
} */

.add-friend-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-header {
  padding: 2px 16px;
  background-color: #48be9d;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #48be9d;
  color: white;
}
